@use "sass:map";
@use "./utils";

$font-family: "PingFang TC", "Noto Sans TC", "Open Sans" , "微軟正黑體", sans-serif;

$sizes: (
  h1: (
    font-size: 22px,
    letter-spacing: 1px,
    line-height: 28px,
  ),
  h2: (
    font-size: 20px,
    letter-spacing: 1px,
    line-height: 28px,
  ),
  body1: (
    font-size: 14px,
    letter-spacing: 1px,
    line-height: 24px,
  ),
  body2: (
    font-size: 13px,
    letter-spacing: 1px,
    line-height: 24px,
  ),
  body3: (
    font-size: 12px,
    letter-spacing: 1px,
    line-height: 16px,
  ),
);

$weights: (
  regular: 300,
  medium: 400,
  semibold: 500,
);

@function size-prop($type, $prop) {
  @return utils.map-get-deep($sizes, $type, $prop);
}

@mixin size($type, $props-whitelist: null) {
  @each $name, $value in map.get($sizes, $type) {
    @if not $props-whitelist or utils.list-includes($props-whitelist, $name) == true {
      #{$name}: $value;
    }
  }
}

@mixin weight($type: normal) {
  font-weight: map.get($weights, $type);
}

@mixin overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;

  @include nowrap;
}

@mixin map-weight-to-classes {
  @each $name, $weight in $weights {
    .#{$name} {
      font-weight: $weight;
    }
  }
}
